body{
    background: #232242;
}

.hover-scale
{
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.02); 
}

.extra-top-padding{
    padding-top: 90px;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.btn-color{
    background-color: #343CFF;
}

.btn-color:hover, .btn-color:active{
    background-color: #5258ff !important;
}

.dark-color-bg{
    background-color: #131333;
}


.clickable {
    cursor: pointer !important;
  }

.img-button-width
{
	width: 90%;
}

.slider {
    appearance: none; /*overwrite browser styling */
    width: 70%; 
    height: 20px; 
    border-radius: 50px; 
    background: #ffe8e8 ; 
    opacity: 0.8;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none; 
    cursor: pointer; 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: #343CFF; 
}

.slider::-moz-range-thumb
{
    appearance: none; 
    cursor: pointer; 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: #343CFF; 
  
}

.slider::-webkit-slider-thumb:hover{
    width: 26px; 
    height: 27px; 
}

.slider::-moz-range-thumb:hover{
    width: 26px; 
    height: 27px; 
}


@media (min-width: 1200px) 
{
	.img-button-width{
		width: 70%;
	}
}