
/*
#canvasContainer {
    width: 100%;
    height: 100%; 
}

#scoreContainer {
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 20px;
    color: black; 
    font-size: 20px; 
}*/